* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f7ede2;
}

.main {
  max-width: 600px;
  margin: auto;
  background-color: #f7f7f7;
  padding: 28px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* margin-top: 8rem; */
}

.input-container {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 28px;
  margin-bottom: 10px;
}

input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100%;
}

.table {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.crossed {
  text-decoration: line-through;
  color: #777;
}

.button:hover {
  background-color: #4511e3;
  color: white;
}
button {
  border: 2px solid rgb(26, 51, 215);
  border-radius: 8px;
  padding: 8px;
}
span {
  padding-bottom: 8px;
}
